<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/course/store">
        <div class="form-group">
            <label for="title">Tiêu đề</label>
            <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" name="description" class="form-control" id="description">
        </div>
        <div class="form-group">
            <label for="videourl">Video url</label>
            <input type="text" name="videourl" class="form-control" id="videourl">
        </div>

        <button type="submit" class="btn btn-primary">Đăng ngay</button>
    </form>
</div>